@model NotesApp.Models.Note

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <style type="text/css">
        body {
            background: #f5f5f5;
        }

        #content {
            background: #fff;
            display: block;
            padding: 1em;
            box-shadow: 5px 5px 7px rgba(33,33,33,.1);
            transition: transform .15s linear;
        }

        #content {
            border-radius: 5px;
        }

        #content #body {
            font-size: 1em;
            overflow: hidden;
            position: relative;
        }

    </style>
}

<div class="row mb-4">
    <div class="col-12 text-left">
        <a asp-action="Index"><h5><i class="fas fa-arrow-left"></i> Back</h5></a>
    </div>
</div>

<div id="content" class="w-50 mx-auto">
    <p class="text-muted">@Model.Date</p>
    <h4>@Model.Title</h4>
    <p id="body">@Model.Body</p>
</div>

<div id="actions" class="text-center mt-4">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info" style="width: 6rem">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger" style="width: 6rem">Delete</a>
</div>

